$color-primary: #3D4852;
$color-secondary: #FFF;
$color-accent: #FFF;
$color-green: #28C278;
$color-blue: #4FC4E6;
$color-orange: #F07E5E;
$color-gray-lightest: #F0F2F3;
$color-gray: #6D7780;
$color-gray-light: #9AA0A5;
$color-gray-dark: #4a5764;
$color-white: #FFF;
