$standard-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$base-font-size: 16px;
$large-font-size: 18px;
$font-size-small: 12px;
$font-size-smallest: 10px;
$h1-size: 54px;
$h2-size: 30px;


$button-font-size: 16px;
$button-font-size-large: 20px;
