$header-height: pxtoem(50px);
$footer-height: 50px;//pxtoem(150px);
$standard-space: pxtoem(40px);
$margin-space: 40px;
$padding-space: $margin-space;
$mobile-margin-space: 10px;

$base-font-size: 16px;
$h1-size: 54px;
$h2-size: 30px;
$standard-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

//media query values
$xs: 320px;
$xs-small: 400px;
$small: 500px;
$sm-medium: 768px;
$medium: 980px;
$medium-large: 1024px;
$large: 1440px;

@function pxtoem($px, $base: $base-font-size) {
	@return ($px/$base) * 1em;
}
