html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0; margin: 0;
}

img,
object {
  max-width: 100%;
}

body {
  font-family: $standard-font-family;
  line-height: 1.5;
  color: $color-primary;
  -webkit-font-smoothing: antialiased;
}

h1 {
	font-size: $h1-size;
}

h2 {
	@extend h1;
	font-size: $h2-size;
}

p {
//	@include standard-heading;
}
