.button {
    @include makebutton;
}

.button-green {
    @include makebutton($color-green, $button-font-size-large);
}

.button-orange {
    @include makebutton($color-orange);
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: $color-orange;
    border: none;
    color: white;
    padding: 0;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    &:hover {
        background-color: lighten($color-orange, 20%);
    }
}
