$primary-color: #3D4852;
$secondary-color: #FFF;
$accent-color: #FFF;
$green-color: #28C278;
$blue-color: #4FC4E6;
$orange-color: #F07E5E;
$bg-color: #F0F2F3;
$gray-color: #6D7780;
$lg-gray-color: #9AA0A5;