@import "variables";
@import "color-variables";
@import "mixins";

@include mq($medium){

	$header-height: pxtoem(520px);
	$footer-height: pxtoem(150px);
	$standard-space: pxtoem(40px);
	$margin-space: 210px;
	$padding-space: $margin-space;

	header {
	  display: inline-block;
	  width: 100%;
	}

	footer {
			p {
	    		line-height: $footer-height;
	    		margin: 0 $standard-space 0 0;
			}
			.logo-group {
				margin-top: 0px;
			}
	}

	.menu {
	  	height: 100%;
	  	background: $primary-color;
	  	margin-right: $standard-space;
	  	float: right;
	  	width: auto;
	}

	.menu-item {

	}

	.container {

	}

	.col-text-left {
		width: 50%;
		padding-right: $standard-space;
	}

	.col-text-right {
		width: 50%;
		padding-left: 40px;
	}

	.col-pic-left {
		display: flex;
		justify-content: flex-start;
		width: 50%;
		padding-right: $standard-space;
	}

	.col-pic-right {
		width: 50%;
		display: flex;
		justify-content: flex-end;
		padding-left: $standard-space;
	}

	.cars {
		height: 360px;
		padding: 0 210px !important;
	}

	.car-pic {
		padding: 40px 20px 40px 0px;
		display: inline-block;
		&:last-of-type {
			padding-right: 0px;
		}
		width: auto;
	}

	#slogan {
		font-size: 54px;
	    width: 615px;
	    margin: 140px 0 0 $margin-space;
	    line-height: 60px;
	}

	#get-started {
		margin: 40px 0 140px $margin-space;
	}

	#searchform {
		justify-content: space-between;
		padding: 30px 210px 30px 210px;
		.button-orange {
			@include margin(30px);
		}
		select {
			min-width: 280px;
			@include margin(30px);
		}
	}
}


