

  .row--top-bottom-padding {
    padding: 40px 0 40px 0;
  }

  //Gutter
  .tile--gutter {
    margin: 0 -10px;
    //margin: 20px 0 20px -20px;
  }

  .tile--gutter > .tile {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  //Gutter

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .tile--grow {
    flex-grow: 1 !important;
  }

  .tile--fixed {
    flex-basis: 0px !important;
  }

  .tile--vertical-center {
    align-items: center;
  }

  .tile--vertical-top {
    align-items: flex-start;
  }

  .tile--vertical-bottom {
    align-items: flex-end;
  }

  $tile-column-count : 20;

  @for $i from 1 through $tile-column-count {
    .tile--#{$i} {
      flex: 0 0 (100%*$i/$tile-column-count);
    }
  }

  .tile--half-left, .tile--half-right {
    flex: 0 0 50%;
  }

  @include media-query(tablet){
    .tile--half-left, .tile--half-right {
      flex: 0 0 100%;
    }

    .push-left {
      padding-left: 0;
    }
  }

  @include media-query(phone){
    .tile--half-left, .tile--half-right, .tile--10 {
      flex: 0 0 100%;
    }

    .push-left {
      padding-left: 0;
    }
  }
