
//$small: 320px;
//$sm-medium: 550px;
//$medium: 980px;
//$medium-large: 1024px;
//$large: 1440x;

@mixin mq($breakpoint: $small) {
  @if $breakpoint == $small {
    @media (min-width: $small) and (max-width: $sm-medium) {
      @content;
    }
  }
  @else if $breakpoint == $medium {
    @media (min-width: $sm-medium) and (max-width: $medium-large) {
      @content;
    }
  }
  @else if $breakpoint == $medium-large {
    @media (min-width: $medium-large) {
      @content;
    }
  }
  @else {
    @media (min-width: $large) {
      @content;
    }
  }
}

@mixin padding() {
  padding: 0 $padding-space 0 $padding-space;
}

@mixin margin($margin:$margin-space) {
  margin: $margin 0 $margin 0;
}


@mixin makebutton($color: $blue-color) {
  background-color: $color;
  border: none;
  color: #FFF;
  padding: 13px 32px 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  height: 60px;
  cursor: pointer;

  &:hover {
      background-color: lighten($color, 5%);
  }

  &:active {
      background-color: darken($color, 5%);
  }
}