select {
    min-width: 100px;
    height: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-image: url(../img/select-arrow.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    border: 1px solid $color-gray-light;
    border-radius: 0;
    box-shadow: none;
    color: $color-gray-light;
    font-size: inherit;
    overflow: hidden;
    padding: 2px 20px 2px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;

    &:hover {
        border: 1px solid darken($color-gray-light, 25%);
        color: darken($color-gray-light, 25%);
        background-image: url(../img/select-arrow-hover.png);
    }
}
