@import "variables";
@import "color-variables";
@import "mixins";

//$small: 320px;
//$sm-medium: 768px;
//$medium: 980px;
//$medium-large: 1024px;
//$large: 1440x;


//$medium: 980px;
@include mq($medium) { 
  $header-height: pxtoem(520px);
  $footer-height: pxtoem(150px);
  $standard-space: pxtoem(40px);
  $margin-space: 140px;
  $select-width: 200px;
  $padding-space: $margin-space;

  header {
    display: inline-block;
    width: 100%;
  }

  footer {
      p {
          line-height: $footer-height;
          margin: 0 $standard-space 0 0;
      }
      .logo-group {
        margin-top: 0px;
      }
  }

  .menu {
      height: 100%;
      background: $primary-color;
      margin-right: $standard-space;
      float: right;
      width: auto;
  }

  .col-text-left {
    width: 50%;
    padding-right: $standard-space;
  }

  .col-text-right {
    width: 50%;
    padding-left: $standard-space;
  }

  .col-pic-left {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding-right: $standard-space;
  }

  .col-pic-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-left: $standard-space;
  }

  .cars {
    padding: 0 $margin-space;
  }

  .car-pic {
    padding: 40px 20px 40px 0px;
    display: inline-block;
    &:last-of-type {
      padding-right: 0px;
    }
    width: auto;
  }

  #slogan {
    font-size: 40px !important;
    width: 615px !important;
    margin: 140px 0 0 $margin-space;
    line-height: 60px;
  }

  #get-started {
    margin: $standard-space 0 140px $margin-space;
  }

  #searchform {
    justify-content: space-between;
    padding: 30px $margin-space 30px $margin-space;
    .button-orange {
      @include margin(30px);
      min-width: $select-width;
    }
    select {
      min-width: $select-width;
      @include margin(30px);
    }
  }
}