$header-height: pxtoem(50px);
$footer-height: pxtoem(150px);
$standard-space: pxtoem(40px);
$margin-space: 40px;
$padding-space: $margin-space;
$mobile-margin-space: 10px;

$base-font-size: 16px;
$std-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

//media query values
$small: 320px;
$sm-medium: 768px;
$medium: 980px;
$medium-large: 1024px;
$large: 1440x;

@function pxtoem($px, $base: $base-font-size) {
	@return ($px/$base) * 1em;
}

