<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AutoSales.com</title>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    {{> header}}

      <div class="column">
      {{> banner}}
      {{> car_filter}}
      {{> showcases}}

      </div>
      {{> footer}}
  <script src="scripts/main.js"></script>
  </body>
</html>
