<section class="banner row tile--vertical-center">
  <!--div class="banner-content"-->
    <div class="tile tile--1"></div>
    <div class="tile tile--10">
      <div class="hero">
    	  <h1 class="main-heading">The Car of Your Dreams
    	is Only a Click Away!</h1>
    	  <button type="button" class="get-started button-green">Get Started Now</button>
      </div>
    </div>
    <div class="tile tile--1"></div>
  <!--div-->
</section>
<form>
