<section class="section section--filter">
    <div class="container">
      <form method="post">
      	<div class="row">
          <!--div  class="row box tile--18 search-filter tile--gutter"-->
              <div class="box box-3">
                <select name="Make" class="select filter__select">
                  <option value="">Make</option>
                  <option value="volvo">Volvo</option>
                  <option value="honda">Honda</option>
                  <option value="toyota">Toyota</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
              </div>
              <div class="box box-3">
            	   <select name="Model" class="select filter__select">
            	      <option value="">Model</option>
            	   </select>
              </div>
              <div class="box box-3">
              	<select name="Price" class="select filter__select">
              	  <option value="">Price</option>
              	</select>
              </div>
              <div class="box box-3">
          	     <button type="button" class="button button-orange">Find My Dream Car</button>
              </div>
          <!--/div-->
      	</div>
  	</form>
  </div>
</section>
