<div class="container">
  <div class="banner">
	  <div id="slogan">The Car of Your Dreams
	is Only a Click Away!</div>
	  <div id="get-started">
	  	<button type="button" class="button-green">Get Started Now</button>
	  </div>
  </div>
  <form>
  <div id="searchform" class="row">
	<select name="Make">
	  <option value="">Make</option>
	  <option value="volvo">Volvo</option>
	  <option value="honda">Honda</option>
	  <option value="toyota">Toyota</option>
	  <option value="mercedes">Mercedes</option>
	  <option value="audi">Audi</option>
	</select>
	<select name="Model">
	  <option value="">Model</option>
	</select>
	<select name="Price">
	  <option value="">Price</option>
	</select>		
	<button type="button" class="button-orange">Find My Dream Car</button>
  </div>
  </form>  
  <div id="Honda" class="cars row-odd">
  	<div class="col-text-left">
	  	<h1>Honda Cars and SUVs</h1>
	  	<p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
	  	<button class="button">View All</button>
  	</div>
  	<div class="col-pic-right">
	  	<div class="car-pic pic1"><img src="img/car7.png"/></div>
	  	<div class="car-pic pic2"><img src="img/car8.png"/></div>
	</div>
  </div>
  <div id="Audi" class="cars row-even">
    <div class="col-pic-left">
	  	<div class="car-pic pic1"><img src="img/car5.png"/></div>
	  	<div class="car-pic pic2"><img src="img/car6.png"/></div>
	</div>
  	<div class="col-text-right">
	  	<h1>Audi Cars and SUVs</h1>
	  	<p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
	  	<button type="button" class="button">View All</button>
  	</div>
  </div>
  <div id="chevy" class="cars row-odd">
  	<div class="col-text-left">
	  	<h1>Chevy Cars and SUVs</h1>
	  	<p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
	  	<button class="button">View All</button>
  	</div>
  	<div class="col-pic-right">
	  	<div class="car-pic pic1"><img src="img/car3.png"/></div>
	  	<div class="car-pic pic2"><img src="img/car4.png"/></div>
	</div>  
  </div>
  <div id="ford" class="cars row-even">
    <div class="col-pic-left">
	  	<div class="car-pic pic1"><img src="img/car1.png"/></div>
	  	<div class="car-pic pic2"><img src="img/car2.png"/></div>
	</div>
  	<div class="col-text-right">
	  	<h1>Ford Cars and SUVs</h1>
	  	<p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
	  	<button type="button" class="button">View All</button>
  	</div>  
  </div>
</div>