<footer class="row">
    <a class="logo" href><span class="site">AutoSales.com</span></a>
  	<nav class="tile tile--10 copyright" role="contentinfo">
  		<ul>
  			<li>Copyright &copy;2016 AutoSales.com</li>
  			<li>All rights reserved</li>
  			<li>Privacy Policy</li>
  		</ul>
  	</nav>
</footer>
