<header class="row">
     {{> logo}}
     <div class="menu">
        <div class="menu-item">Cars for Sale</div>
        <div class="menu-item">Sell My Car</div>
        <div class="menu-item">Find a Dealer</div>
        <div class="menu-item">Contact Us</div>
        <div class="searchbar"><button type="button" class="search-button"></button></div>
     </div>
</header>