<header class="row">
    <a class="logo" href><span class="site">AutoSales.com</span></a>
    <div class="tile tile-10">
      <button type="button" class="nav-small"></button>
      <button type="button" class="search-button"></button>
      <nav class="top-nav" role="navigation">
          <ul>
              <li><a href>Cars for Sale</a></li>
              <li><a href>Sell My Car</a></li>
              <li><a href>Find a Dealer</a></li>
              <li><a href>Contact Us</a></li>
         </ul>
      </nav>
    </div>
</header>
