<section id="Honda" class="section--showcase row row--top-bottom-padding">
  <div class="tile tile--1 tile--grow"></div>
	<div class="row tile tile--18 tile--gutter">
		<div class="tile tile--half-left">
			  <div class="push-right push-bottom">
			  	<h2>Honda Cars and SUVs</h2>
			  	<p class="push-bottom">Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
			  	<button class="button">View All</button>
				</div>
		</div>
		<div class="showcase tile tile--half-right row tile--gutter tile--grow">
		  	<div class="showcase__img tile--grow tile tile--10" style="background-image:url('../img/car7.png')">
					<div class="showcase__overlay"><h3 class="showcase__heading">Honda Civic</h3><div class="showcase__line"></div><div class="showcase__more"><a href="" >Learn More</a></div></div>
				</div>
				<div class="showcase__img tile tile--10 tile--grow" style="background-image:url('../img/car8.png')">
					<div class="showcase__overlay"><h3 class="showcase__heading">Honda CRV</h3><div class="showcase__line"></div><div class="showcase__more"><a href="" >Learn More</a></div></div>
				</div>
	  </div>
	</div>
	<div class="tile tile--1 tile--grow"></div>
</section>
<section id="Audi" class="section--showcase row row--top-bottom-padding tile--gutter">
  <div class="tile tile--1"></div>
	<div class="row tile tile--18">
		<div class="showcase tile tile--half-left row tile--gutter tile-grow">
		  	<div class="showcase__img tile tile--10 tile--grow " style="background-image:url('../img/car5.png')">
					<div class="showcase__overlay"><h3 class="showcase__heading">Honda Civic</h3><div class="showcase__line"></div><div class="showcase__more"><a href="" >Learn More</a></div></div>
				</div>
				<div class="showcase__img tile tile--10 tile--grow " style="background-image:url('../img/car6.png')">
					<div class="showcase__overlay"><h3 class="showcase__heading">Honda CRV</h3><div class="showcase__line"></div><div class="showcase__more"><a href="" >Learn More</a></div></div>
				</div>
	  </div>
		<div class="tile tile--half-right">
			<div class="push-left push-bottom">
				<h2>Audi Cars and SUVs</h2>
				<p class="push-bottom">Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
				<button class="button">View All</button>
			</div>
		</div>
	<div class="row tile tile--18">
  <div class="tile tile--1"></div>
</section>
<section id="chevy" class="section--showcase row row--top-bottom-padding tile--gutter">
	<div class="tile tile--1"></div>
	<div class="row tile tile--18">
		<div class="tile tile--half-left">
				<div class="push-right push-bottom">
					<h2>Chevy Cars and SUVs</h2>
					<p class="push-bottom">Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
					<button class="button">View All</button>
				</div>
		</div>
		<div class="showcase tile tile--half-right row tile--gutter">
				<div class="showcase__img tile tile--10" style="background-image:url('../img/car3.png')">
					<div class="showcase__overlay"><h3 class="showcase__heading">Honda Civic</h3><div class="showcase__line"></div><div class="showcase__more"><a href="" >Learn More</a></div></div>
				</div>
				<div class="showcase__img tile tile--10" style="background-image:url('../img/car4.png')">
					<div class="showcase__overlay"><h3 class="showcase__heading">Honda CRV</h3><div class="showcase__line"></div><div class="showcase__more"><a href="" >Learn More</a></div></div>
				</div>
		</div>
	</div>
	<div class="tile tile--1"></div>
</section>
<section id="ford" class="section--showcase row row--top-bottom-padding tile--gutter">
	<div class="tile tile--1"></div>
	<div class="row tile tile--18">
		<div class="showcase tile tile--half-left row tile--gutter">
		  	<div class="showcase__img tile tile--10" style="background-image:url('../img/car1.png')">
					<div class="showcase__overlay"><h3 class="showcase__heading">Honda Civic</h3><div class="showcase__line"></div><div class="showcase__more"><a href="" >Learn More</a></div></div>
				</div>
				<div class="showcase__img tile tile--10" style="background-image:url('../img/car2.png')">
					<div class="showcase__overlay"><h3 class="showcase__heading">Honda CRV</h3><div class="showcase__line"></div><div class="showcase__more"><a href="" >Learn More</a></div></div>
				</div>
	  </div>
		<div class="tile tile--half-right">
			<div class="push-left push-bottom">
				<h2>Ford Cars and SUVs</h2>
				<p class="push-bottom">Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
				<button class="button">View All</button>
			</div>
		</div>
	</div>
  <div class="tile tile--1"></div>
</section>
