<section id="Honda" class="section--showcase row">
  <div class="container">
  	<div class="row">
  		<div class="box box-structure-1">
  			  <div class="push-right push-bottom">
  			  	<h2>Honda Cars and SUVs</h2>
  			  	<p class="push-bottom">Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
  			  	<button class="button">View All</button>
  				</div>
  		</div>
  		<div class="box-structure-2 row">
  		  	<div class="box box-structure-1-2">
            <div class="showcase__img" style="background-image:url('../img/car7.png')">
              <div class="showcase__overlay"><h3 class="showcase__heading">Honda Civic</h3><div class="showcase__line"></div><div class="showcase__more"><a href="" >Learn More</a></div></div>
            </div>
  				</div>
  				<div class="box box-structure-1-2">
            <div class="showcase__img" style="background-image:url('../img/car8.png')">
              <div class="showcase__overlay"><h3 class="showcase__heading">Honda CRV</h3><div class="showcase__line"></div><div class="showcase__more"><a href="" >Learn More</a></div></div>
            </div>
  				</div>
  	  </div>
  	</div>
  </div>
</section>
<section id="Audi" class="section--showcase row">
  <div class="container">
  	<div class="row">
  		<div class="box-structure-2 row">
          <div class="box box-structure-1-2">
            <div class="showcase__img" style="background-image:url('../img/car5.png')">
              <div class="showcase__overlay"><h3 class="showcase__heading">Audi A6</h3><div class="showcase__line"></div><div class="showcase__more"><a href="" >Learn More</a></div></div>
            </div>
          </div>
          <div class="box box-structure-1-2">
            <div class="showcase__img" style="background-image:url('../img/car6.png')">
              <div class="showcase__overlay"><h3 class="showcase__heading">Audi Q7</h3><div class="showcase__line"></div><div class="showcase__more"><a href="" >Learn More</a></div></div>
            </div>
          </div>
  		</div>
  		<div class="box box-structure-1">
  				<div class="push-left push-bottom">
  					<h2>Audi Cars and SUVs</h2>
  					<p class="push-bottom">Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
  					<button class="button">View All</button>
  				</div>
  		</div>
  	</div>
  </div>
</section>
<section id="chevy" class="section--showcase row">
	<div class="container">
  	<div class="row">
  		<div class="box box-structure-1">
  			  <div class="push-right push-bottom">
  			  	<h2>Chevy Cars and SUVs</h2>
  			  	<p class="push-bottom">Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
  			  	<button class="button">View All</button>
  				</div>
  		</div>
      <div class="box-structure-2 row">
  		  	<div class="box box-structure-1-2">
            <div class="showcase__img" style="background-image:url('../img/car3.png')">
              <div class="showcase__overlay"><h3 class="showcase__heading">Chevy Camaro</h3><div class="showcase__line"></div><div class="showcase__more"><a href="" >Learn More</a></div></div>
            </div>
  				</div>
  				<div class="box box-structure-1-2">
            <div class="showcase__img" style="background-image:url('../img/car4.png')">
              <div class="showcase__overlay"><h3 class="showcase__heading">Chevy Equinox</h3><div class="showcase__line"></div><div class="showcase__more"><a href="" >Learn More</a></div></div>
            </div>
  				</div>
  	  </div>
  	</div>
	</div>
</section>
<section id="ford" class="section--showcase row">
	<div class="container">
  	<div class="row">
      <div class="box-structure-2 row">
          <div class="box box-structure-1-2">
            <div class="showcase__img" style="background-image:url('../img/car1.png')">
              <div class="showcase__overlay"><h3 class="showcase__heading">Ford 1500</h3><div class="showcase__line"></div><div class="showcase__more"><a href="" >Learn More</a></div></div>
            </div>
          </div>
          <div class="box box-structure-1-2">
            <div class="showcase__img" style="background-image:url('../img/car2.png')">
              <div class="showcase__overlay"><h3 class="showcase__heading">Ford Mustang</h3><div class="showcase__line"></div><div class="showcase__more"><a href="" >Learn More</a></div></div>
            </div>
          </div>
      </div>
  		<div class="box box-structure-1">
  				<div class="push-left push-bottom">
  					<h2>Ford Cars and SUVs</h2>
  					<p class="push-bottom">Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
  					<button class="button">View All</button>
  				</div>
  		</div>
  	</div>
	</div>
</section>
