@include media-query(tablet){
  .main-heading {
    line-height: 1.2;
    margin-bottom: 40px;
    font-size: 40px;
  }
  
  footer {
    .copyright {
      font-size: $font-size-small;
      padding-top: 15px;
    }
  }

  .showcase__img {
    height: 320px;
  }

  .banner {
    height: 500px;
  }
}
