<section class="banner">
  <div class="container row">
    <div class="box box-7 fixed-grow">
      <div class="column">
    	  <h1 class="box-4 main-heading ">The Car of Your Dreams
    	is Only a Click Away!</h1>
        <div class="box-1">
    	     <button type="button" class="get-started button-green">Get Started Now</button>
        </div>
      </div>
    </div>
  </div>
</section>
<form>
